body{
  font-family: "Montserrat";
}

p{
  color: grey;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-bold";
}
h2{
  font-size: 3rem;
  line-height: 1.5;
}

h3{
font-size: 1.5rem;
}

.big-heading{
  font-family: "Montserrat-bold";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.container-fluid{
  padding: 3% 15% 7%;
}

.navbar{
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.download-button{
  margin: 5% 3% 5% 0;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}


.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}

.testimonial-img{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

}
.press-logo{
  width: 15%;
  margin: 20px 20px;
}
.carousel-item{
  padding: 7% 15%;
}


.pricing-column{
  padding: 3% 2%;
}

.cta-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}


.Social-icon{
  margin: 20px 10px;
}

.price-text{
  
}

#features{
  padding: 7% 15%;
  background: #fff;
  position: relative;
  }

#title{
  background-color: #ff4c68
  }

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

#title{
  text-align: center;
}

#pricing{
  padding: 100px;
  text-align: center;
}

#cta{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

#footer{
  padding: 7% 15%;
  text-align: center;
}



@media (max-width: 1028px) {

  .title-image{
    position: static;
    transform: rotate(0);
  }
  }
